name: Build & Test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  create:
    tags:
      - v*

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build & test library & server
        run: |
          docker build -f build.Dockerfile -t ion .
          docker run -e BUILD_SUFFIX=docker \
            -i -w /workspace -v $(pwd):/workspace \
            ion make build test

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries-linux-x86_64
          path: |
            build/docker/ion-server/ion-server
            build/docker/ion-server/libion.so

      - name: Create Release (tag only)
        uses: actions/create-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: false

      - name: Build standalone server Docker image
        run: |
          docker build -f app.Dockerfile \
            -t ghcr.io/${{ github.repository }}:latest .

      - name: Log in to GitHub Container Registry
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GitHub Container Registry
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          docker push ghcr.io/${{ github.repository }}:latest
