name: Build & Test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build in Docker
        run: |
          docker build -t ion .
          docker run -e BUILD_SUFFIX=docker \
            -i -w /workspace -v $(pwd):/workspace \
            ion make build test
